@import './base/base';
@import './utils/variables';
@import './layout/layout';
@import './composants/composants';
@import './pages/main';
//@import './vendors';

body {
	font-family: 'Roboto', sans-serif;
	margin-top: 4rem;
}

h1 {
	font-weight: 700;
}

a {
	color: #343A40;
	text-decoration: none;
	&:hover {
		color: $color-primary;
		text-decoration: none;
	}
}