#intro {
	height: 35rem;
	text-align: center;
	padding-top: 8rem;
	p {
		font-size: 1.2em;
	}
}

#about {
	padding-bottom: 1em;
	padding-top: 60px;
	margin-bottom: 2em;
	h2 {
		text-align: center;
		margin-bottom: 1em;
		font-weight: 700;
	}
}

#curriculum {
	padding-bottom: 1em;
	padding-top: 60px;
	h2 {
		margin-bottom: 1em;
		font-weight: 700;
	}
}

#contact {
	padding-bottom: 1em;
	padding-top: 30px;
	margin-bottom: 2em;
	h2 {
		text-align: center;
		margin-top: 2em;
		margin-bottom: 2em;
		font-weight: 700;
	}
}