.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

#scroll a {
  padding-top: 70px;
}
#scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 3px solid $color-primary;
  border-bottom: 3px solid $color-primary;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scroll 1.5s infinite;
  animation: scroll 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes scroll {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

.social-net {
	font-size: 2em;
}

.sidebar {
	top: 100px;
	position: sticky;
	&--item {
		padding: 10px;
		padding-left: 10px;
		font-weight: 400;
		font-size: 1em;
		color: $color-secondary1;
		transition: all 500ms;
		&:hover {
			padding-left: 15px;
			font-weight: 700;
			font-size: 1.1em;
			color: $color-primary;
		}
	}
}

.cv-item {
	margin-left: 2em;
	padding: 15px;
	border-radius: 3px;
	background-color: none;
	transition: background-color 600ms;
	position: relative;
	&::after {
		content: '';
		position: absolute;
		width: 3px;
		background-color: #f6f6f6;
		top: 0;
		bottom: 0;
		left: 0;
		margin-left: -2em;
	}
	p {
		margin-bottom: 0px;
	}
	&--date {
		color: $color-primary;
		font-weight: 700;
		font-size: 0.8em;
		margin-bottom: 0px;
	}
	h3 {
		font-size: 1.5em;
		font-weight: 700;
		position: relative;
		&::after {
			content: '';
			position: absolute;
			width: 12px;
			height: 12px;
			left: -3px;
			margin-left: -2em;
			background-color: $color-primary;
			border-radius: 50%;
			z-index: 1;
			box-shadow: 0px 0px 0px $color-primary;
			transition: all 400ms;
		}
	}
	&--org {
		font-weight: 700;
	}
	&:hover > h3::after {
		box-shadow: 0px 0px 7px $color-primary;
		width: 14px;
		height: 14px;
	}
	.btn {
		background-color: $color-primary;
		border: none;
		font-size: 0.7em;
		&:hover {
			background-color: lighten($color-primary, 10%);
		}
		a:hover {
			color: inherit;
		}
	}
}

.lang-item {
	th {
		padding: 10px;
		font-size: 1.1em;
	}
	span {
		background-color: $color-primary;
	}
}

.skill-item {
	padding: 10px;
	p {
		margin-bottom: 3px;
	}
	&--title {
		font-size: 1em;
	}
	&--progress {
		height: 10px;
		box-shadow: none;
		transition: box-shadow 400ms;
		&:hover {
			box-shadow: 2px 2px 4px grey;
		}
	}
	&--progressbar {
		&1 {
			background-color: $color-secondary1;
		}
		&2 {
			background-color: $color-primary;
		}
	}
}

.skill-card {
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px #e6e6e6, -2px -1px 3px #e6e6e6;
	transition: box-shadow 400ms;
	text-align: center;
	&--title {
		margin-top: 1em;
		font-weight: 700;
		font-size: 1.5em;
	}
	&--value {
		font-weight: 700;
		font-size: 4em;
	}
	&:hover {
		box-shadow: 4px 4px 8px #e6e6e6, -4px -2px 6px #e6e6e6;
	}
}

.btn-primary {
	&__color {
		background-color: $color-primary;
		border: none;
		&:hover {
			background-color: lighten($color-primary, 10%);
		}
	}
}

.typewriter {
	max-width: 100%;
	min-width: 400px;
	h2 {
	font-family: monospace;
	font-size: 1.8em;
	font-weight: 700;
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid $color-primary; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	animation: 
		typing 3s steps(25, end),
		blink-caret 0.8s step-end infinite;
	}
	&__color {
		color: $color-primary;
	}
}

/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: $color-primary}
}

/*Page détail des cours */

.course {
	border-radius: 8px;
	box-shadow: 0 3px 5px #cccccc;
	transition: box-shadow 400ms;
	max-width: 100%;
	display: flex;
	margin: 15px;
	overflow: hidden;
	&:hover {
		box-shadow: 0px 6px 10px #cccccc;
	}
	&-main {
		background-color: $color-primary;
		color: white;
		padding: 15px;
		width: 35%;
		}
		h3 {
			font-size: 1em;
			font-weight: 700;
		}
		p span {
			background-color: lighten($color-primary, 30%);
			color: $color-primary;
			font-size: 0.7em;
		}
	&-simple {
		padding: 15px;
		width: 80%;
		h3 {
			font-size: 1em;
			font-weight: 700;
		}
		> p {
			margin-bottom: 0em;
			span {
				background-color: lighten($color-primary, 30%);
				color: $color-primary;
				font-size: 0.7em;
			}
		}
	}
	&-certificate {
		padding: 15px;
		width: 20%;
		font-size: 0.8em;
		position: relative;
		top: 50%;
		text-align: right;
		a {
			color: $color-primary;
			vertical-align: middle;
		}
	}
	&-content {
		padding: 15px;
		width: 65%;
		font-size: 0.8em;
		a {
			color: $color-primary;
			text-align: right;
		}
	}
	&--date {
		font-size: 0.6em;
		font-weight: 700;
		color: lighten($color-primary, 30%);
	}
}