body {
	font-family: 'Roboto', sans-serif;
	margin-top: 4rem;
}

footer {
	padding-top: 10px;
	background-color: #333333;
	color: #e6e6e6;
	a {
		color: #e6e6e6;
	}
}

h1 {
	font-weight: 700;
	text-align: center;
}

h2 {
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: 700;
}

ul {
	list-style-type: none;
	padding-left: 5px;
}

a {
	color: inherit;
	transition: color 400ms;
	text-decoration: none;
	&:hover {
		color: $color-primary;
		text-decoration: none;
	}
}